<p>In the card game poker, a hand consists of five cards and are ranked, from lowest to highest, in the following way:</p>
<ul>
    <li><b>High Card</b>: Highest value card.</li>
    <li><b>One Pair</b>: Two cards of the same value.</li>
    <li><b>Two Pairs</b>: Two different pairs.</li>
    <li><b>Three of a Kind</b>: Three cards of the same value.</li>
    <li><b>Straight</b>: All cards are consecutive values.</li>
    <li><b>Flush</b>: All cards of the same suit.</li>
    <li><b>Full House</b>: Three of a kind and a pair.</li>
    <li><b>Four of a Kind</b>: Four cards of the same value.</li>
    <li><b>Straight Flush</b>: All cards are consecutive values of same suit.</li>
    <li><b>Royal Flush</b>: Ten, Jack, Queen, King, Ace, in same suit.</li>
</ul>
<p>The cards are valued in the order:<br>2, 3, 4, 5, 6, 7, 8, 9, 10, Jack, Queen, King, Ace.</p>
<p>If two players have the same ranked hands then the rank made up of the highest value wins; for example, a pair of eights beats a pair of fives (see example 1 below). But if two ranks tie, for example, both players have a pair of queens, then highest cards in each hand are compared (see example 4 below); if the highest cards tie then the next highest cards are compared, and so on.</p>
<p>Consider the following five hands dealt to two players:</p>
<table>
    <tbody><tr>
        <td><b>Hand</b></td><td>&nbsp;</td><td><b>Player 1</b></td><td>&nbsp;</td><td><b>Player 2</b></td><td>&nbsp;</td><td><b>Winner</b></td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><b>1</b></td><td>&nbsp;</td><td>5H 5C 6S 7S KD<br><div class="info">Pair of Fives</div></td><td>&nbsp;</td><td>2C 3S 8S 8D TD<br><div class="info">Pair of Eights</div></td><td>&nbsp;</td><td style="vertical-align:top;">Player 2</td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><b>2</b></td><td>&nbsp;</td><td>5D 8C 9S JS AC<br><div class="info">Highest card Ace</div></td><td>&nbsp;</td><td>2C 5C 7D 8S QH<br><div class="info">Highest card Queen</div></td><td>&nbsp;</td><td style="vertical-align:top;">Player 1</td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><b>3</b></td><td>&nbsp;</td><td>2D 9C AS AH AC<br><div class="info">Three Aces</div></td><td>&nbsp;</td><td>3D 6D 7D TD QD<br><div class="info">Flush  with Diamonds</div></td><td>&nbsp;</td><td style="vertical-align:top;">Player 2</td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><b>4</b></td><td>&nbsp;</td><td>4D 6S 9H QH QC<br><div class="info">Pair of Queens<br>Highest card Nine</div></td><td>&nbsp;</td><td>3D 6D 7H QD QS<br><div class="info">Pair of Queens<br>Highest card Seven</div></td><td>&nbsp;</td><td style="vertical-align:top;">Player 1</td>
    </tr>
    <tr>
        <td style="vertical-align:top;"><b>5</b></td><td>&nbsp;</td><td>2H 2D 4C 4D 4S<br><div class="info">Full House<br>With Three Fours</div></td><td>&nbsp;</td><td>3C 3D 3S 9S 9D<br><div class="info">Full House<br>with Three Threes</div></td><td>&nbsp;</td><td style="vertical-align:top;">Player 1</td>
    </tr>
</tbody></table>
<p>The file, <a href="http://projecteuler.net/project/poker.txt">poker.txt</a>, contains one-thousand random hands dealt to two players. Each line of the file contains ten cards (separated by a single space): the first five are Player 1's cards and the last five are Player 2's cards. You can assume that all hands are valid (no invalid characters or repeated cards), each player's hand is in no specific order, and in each hand there is a clear winner.</p>
<p>How many hands does Player 1 win?</p>
