<p>Consider the following "magic" 3-gon ring, filled with the numbers 1 to 6, and each line adding to nine.</p>
<div style="text-align:center;">
<img src="http://projecteuler.net/project/images/p_068_1.gif" alt=""><br>
</div>
<p>Working <b>clockwise</b>, and starting from the group of three with the numerically lowest external node (4,3,2 in this example), each solution can be described uniquely. For example, the above solution can be described by the set: 4,3,2; 6,2,1; 5,1,3.</p>
<p>It is possible to complete the ring with four different totals: 9, 10, 11, and 12. There are eight solutions in total.</p>
<div style="text-align:center;">
<table width="400" cellspacing="0" cellpadding="0">
<tbody><tr>
<td width="100"><b>Total</b></td><td width="300"><b>Solution Set</b></td>
</tr>
<tr>
<td>9</td><td>4,2,3; 5,3,1; 6,1,2</td>
</tr>
<tr>
<td>9</td><td>4,3,2; 6,2,1; 5,1,3</td>
</tr>
<tr>
<td>10</td><td>2,3,5; 4,5,1; 6,1,3</td>
</tr>
<tr>
<td>10</td><td>2,5,3; 6,3,1; 4,1,5</td>
</tr>
<tr>
<td>11</td><td>1,4,6; 3,6,2; 5,2,4</td>
</tr>
<tr>
<td>11</td><td>1,6,4; 5,4,2; 3,2,6</td>
</tr>
<tr>
<td>12</td><td>1,5,6; 2,6,4; 3,4,5</td>
</tr>
<tr>
<td>12</td><td>1,6,5; 3,5,4; 2,4,6</td>
</tr>
</tbody></table>
</div>
<p>By concatenating each group it is possible to form 9-digit strings; the maximum string for a 3-gon ring is 432621513.</p>
<p>Using the numbers 1 to 10, and depending on arrangements, it is possible to form 16- and 17-digit strings. What is the maximum <b>16-digit</b> string for a "magic" 5-gon ring?</p>
<div style="text-align:center;">
<img src="http://projecteuler.net/project/images/p_068_2.gif" alt=""><br>
</div>
