<p class="info">NOTE: This problem is a more challenging version of <a href="index.php?section=problems&amp;id=81">Problem 81</a>.</p>
<p>The minimal path sum in the 5 by 5 matrix below, by starting in any cell in the left column and finishing in any cell in the right column, and only moving up, down, and right, is indicated in red and bold; the sum is equal to 994.</p>
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tbody><tr>
		<td>
			<table cellpadding="3" cellspacing="0" border="0">
				<tbody><tr>
					<td>131</td><td>673</td><td><span style="color:#dd0000;"><b>234</b></span></td><td><span style="color:#dd0000;"><b>103</b></span></td><td><span style="color:#dd0000;"><b>18</b></span></td>
				</tr>
				<tr>
					<td><span style="color:#dd0000;"><b>201</b></span></td><td><span style="color:#dd0000;"><b>96</b></span></td><td><span style="color:#dd0000;"><b>342</b></span></td><td>965</td><td>150</td>
				</tr>
				<tr>
					<td>630</td><td>803</td><td>746</td><td>422</td><td>111</td>
				</tr>
				<tr>
					<td>537</td><td>699</td><td>497</td><td>121</td><td>956</td>
				</tr>
				<tr>
					<td>805</td><td>732</td><td>524</td><td>37</td><td>331</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
<p>Find the minimal path sum, in <a href="http://projecteuler.net/project/matrix.txt">matrix.txt</a> (right click and 'Save Link/Target As...'), a 31K text file containing a 80 by 80 matrix, from the left column to the right column.</p>
