<p>In the 5 by 5 matrix below, the minimal path sum from the top left to the bottom right, by <b>only moving to the right and down</b>, is indicated in bold red and is equal to 2427.</p>
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tbody><tr>
		<td>
			<table cellpadding="3" cellspacing="0" border="0">
				<tbody><tr>
					<td><span style="color:#dd0000;"><b>131</b></span></td><td>673</td><td>234</td><td>103</td><td>18</td>
				</tr>
				<tr>
					<td><span style="color:#dd0000;"><b>201</b></span></td><td><span style="color:#dd0000;"><b>96</b></span></td><td><span style="color:#dd0000;"><b>342</b></span></td><td>965</td><td>150</td>
				</tr>
				<tr>
					<td>630</td><td>803</td><td><span style="color:#dd0000;"><b>746</b></span></td><td><span style="color:#dd0000;"><b>422</b></span></td><td>111</td>
				</tr>
				<tr>
					<td>537</td><td>699</td><td>497</td><td><span style="color:#dd0000;"><b>121</b></span></td><td>956</td>
				</tr>
				<tr>
					<td>805</td><td>732</td><td>524</td><td><span style="color:#dd0000;"><b>37</b></span></td><td><span style="color:#dd0000;"><b>331</b></span></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
<p>Find the minimal path sum, in <a href="http://projecteuler.net/project/matrix.txt">matrix.txt</a> (right click and 'Save Link/Target As...'), a 31K text file containing a 80 by 80 matrix, from the top left to the bottom right by only moving right and down.</p>
