<p class="info">NOTE: This problem is a significantly more challenging version of <a href="index.php?section=problems&amp;id=81">Problem 81</a>.</p>
<p>In the 5 by 5 matrix below, the minimal path sum from the top left to the bottom right, by moving left, right, up, and down, is indicated in bold red and is equal to 2297.</p>
<table cellpadding="0" cellspacing="0" border="0" align="center">
	<tbody><tr>
		<td>
			<table cellpadding="3" cellspacing="0" border="0">
				<tbody><tr>
					<td><span style="color:#dd0000;"><b>131</b></span></td><td>673</td><td><span style="color:#dd0000;"><b>234</b></span></td><td><span style="color:#dd0000;"><b>103</b></span></td><td><span style="color:#dd0000;"><b>18</b></span></td>
				</tr>
				<tr>
					<td><span style="color:#dd0000;"><b>201</b></span></td><td><span style="color:#dd0000;"><b>96</b></span></td><td><span style="color:#dd0000;"><b>342</b></span></td><td>965</td><td><span style="color:#dd0000;"><b>150</b></span></td>
				</tr>
				<tr>
					<td>630</td><td>803</td><td>746</td><td><span style="color:#dd0000;"><b>422</b></span></td><td><span style="color:#dd0000;"><b>111</b></span></td>
				</tr>
				<tr>
					<td>537</td><td>699</td><td>497</td><td><span style="color:#dd0000;"><b>121</b></span></td><td>956</td>
				</tr>
				<tr>
					<td>805</td><td>732</td><td>524</td><td><span style="color:#dd0000;"><b>37</b></span></td><td><span style="color:#dd0000;"><b>331</b></span></td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
<p>Find the minimal path sum, in <a href="http://projecteuler.net/project/matrix.txt">matrix.txt</a> (right click and 'Save Link/Target As...'), a 31K text file containing a 80 by 80 matrix, from the top left to the bottom right by moving left, right, up, and down.</p>

</div>
